/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1230px and up) */
@media only screen and (min-width: 1230px) {
  .navbar-form.search-form.standart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form-control {
      width: 200px;
    }

    .btn {
      position: static;
      padding: 0 10px !important;
      color: #000;
    }

    input[type='date'] {
      width: fit-content;
    }
  }

  
}

/* Extra large devices (large laptops and desktops, 1230px and up) */
@media only screen and (min-width: 1440px) {
  .navbar-form.search-form.client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form-control {
      width: 200px;
    }

    .btn {
      position: static;
      padding: 0 10px !important;
      color: #000;
    }

    input[type='date'] {
      width: fit-content;
    }
  }
}
