.query-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    // > div {
    //   display: inline-block;
    // }

    .input-group {
      display: flex;
      flex-direction: column;
      width: 200px;
      margin: 5px;
    }

    .form-other {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      label {
        padding: 5px;
      }
    }
  }

  // .form-row {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-around;
  //   flex-direction: row;
  // }

  .description {
    width: 100%;
    &-wrapper {
      width: 100%;
    }
    // box-sizing: border-box;
  }
  button {
    width: 150px;
    margin-bottom: 10px;
  }
}
