.navbar-form.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-control {
    width: 250px !important;
  }

  .btn {
    position: static;
    padding: 0 10px !important;
  }

}

.top-search {
  position: fixed;
  right: 0;
}

.navbar.navbar-fixed-top {
  .container-my {
    width: 100vw;
  }
}

.content-table {
  th, td {
    padding: 5px;
  }
  button {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
}