/* Style the navigation menu */

.mobile-navbar {
    overflow: hidden;
    background-color: #333;
    position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */

.mobile-navbar #topLinks {
    display: none;
}


/* Style navigation menu links */

.mobile-navbar .top-links a {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
}


/* Style the hamburger menu */

.mobile-navbar a.icon {
    background: black;
    color: white;
    display: block;
    position: absolute;
    padding: 25px;
    right: 0;
    top: 0;
}


/* Add a grey background color on mouse-over */

.mobile-navbar .top-links a:hover {
    background-color: #feb800;
    color: black;
}


/* Style the active link (or home/logo) */

.mobile-navbar .active {
    background-color: #feb800;
    color: black;
}