/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 350px;
  height: 100%;
}

/* The Close Button */
.modal-close {
  color: #1D1918;
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.modal-close i {
  font-size: 34px;
}

.modal-close:hover,
.modal-close:focus {
  color: #DE5542;
  text-decoration: none;
  cursor: pointer;
}

.modal-menu .menu {
  padding-left: 15px;
}

.modal-menu .menu .menu-item,
.modal-menu .menu .menu-item i {
  color: #1D1918;
}
.modal-menu .menu .menu-item {
  padding: 10px 0;
  cursor: pointer;
}
.modal-menu .menu .menu-item span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.143rem;
  font-family: 'Poppins', sans-serif;
}

.modal-menu .menu .menu-item.active,
.modal-menu .menu .menu-item:hover,
.modal-menu .menu .menu-item:hover .sub-menu i,
.modal-menu .menu .menu-item.active .sub-menu i {
  color: #DE5542;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding: 20px;
  position: absolute;
  min-width: 160px;
  z-index: 10000;
}

.dropdown-content .dropdown-menu {
  background-color: #f4f4f4;
  border-bottom: 3px solid #DE5542;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0;
  margin-top: 25px;
  margin-left: -40px;
  color:#1D1918;  
}
.dropdown-content .dropdown-menu .menu-item {
  padding: 20px;
  width: 100%;
}
.dropdown-content .dropdown-menu .menu-item:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sl-btn {
  width: 117px;
  height: 50px;
  color: #fff;
  margin: 5px;
}
.sl-btn.accent {
  background-color: #DE5542;
}
.sl-btn.primary {
  background-color: #1D1918;
}
.sl-btn.accent:hover {
  background-color: #1D1918;
}
.sl-btn.primary:hover {
  background-color: #DE5542;
}

.title-block *{
  font-family: 'Poppins', sans-serif;
}
.title-block .subtitle{
  color: #DE5542;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 5px;
  line-height: 1.5;
}
.title-block.has-border .subtitle{
  margin-left: 30px;
}

.title-block .section-title{
  margin: 0 0 20px;
  font-size: 38px;
}
.title-block.has-border .section-title{
  padding-left: 30px;
  position: relative;
}
.title-block.has-border .section-title::before{
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0px;
  left: 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, #DE5542 0%, #DE5542 100%);
}

.btn {
  padding: 20px 30px;
  display: block;
  width: fit-content;
  height: fit-content;
  transition: all .4s ease;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}


@media (min-width:320px)  {
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .cards-list{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 30px;
  }
  .cards-list .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 342px;
    padding: 50px 40px 75px;
    margin-bottom: 5px;
    box-shadow: 0px 10px 50px 0px rgba(161, 161, 161, 0.5);
    border-style: solid;
    border: 1px solid #f5f5f5;
    border-width: 0px 0px 3px 0px;
    border-color: #DE5542;
    background-color: #fff;
    transition: all 1s ease;
  }
  .cards-list .card:hover{
    border-color: #1D1918;
  }
  .cards-list .card:hover .title {
    color: #DE5542;
  }

  .cards-list .card:hover .link i {
    color: #1D1918;
  }
  .cards-list .card.accent{
    background-color: #DE5542;
  }
  .cards-list .card.accent:hover{
    background-color: #1D1918;
  }
  .cards-list .card .icon{
    margin: 0 0 13px;
  }
  .cards-list .card .icon i{
    font-size: 51px;
    color: #DE5542;
  }
  .cards-list .card.accent .icon i,
  .cards-list .card.accent .title,
  .cards-list .card.accent .description,
  .cards-list .card.accent .link i
  {
    color: #fff;
  }
  
  .cards-list .card .title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin: 0 0 28px;
    color: #1D1918;
  }
  .cards-list .card .description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0 0 10px;
    color: #7a7a7a;
  }
  .cards-list .card .link i{
    font-size: 42px;
    color: #DE5542;
  }

  section.statistics .statistics-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  section.statistics .statistic-item{
    padding: 0 0 20px;
    width: 100%;
  }
  section.statistics .statistic-item .counter{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  }

  section.statistics {
    padding: 75px 15px;
    background-color: #DE5542;
    background-image: url('../assets/images/bg10.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.statistics * {
    color: #fff;
  }
  section.statistics .statistic-item .number{
    font-size: 74px;
    font-weight: 600;
    margin-right: 5px;
  }
  section.statistics .statistic-item .plus{
    font-size: 32px;
    font-weight: 600;
  }
  section.statistics .statistic-item .title{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

}

@media (min-width:790px)  {
   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .cards-list{
    max-width: 780px;
    justify-content: space-between;
  }
  .cards-list .card{
    width: 49.6%;
    height: 368px;
  }
  .cards-list .card.accent{
    width: 100%;
  }

  section.statistics .statistic-item{
    width: 50%;
  }
}

@media (min-width:1025px) {
   /* big landscape tablets, laptops, and desktops */ 
  .cards-list{
    max-width: 1000px;
    flex-wrap: nowrap;
  }
  .cards-list .card{
    width: 100%;
    margin-right: 5px;
  }

  section.statistics .statistic-item{
    width: 25%;
  }
}
