* {
  font-family: 'Poppins', sans-serif;
}

input,
input:hover,
input:active,
textarea, 
textarea:hover, 
textarea:active {
  border: 0;
  background-color: transparent;
  border-bottom: 3px solid #FF6C00;
  padding: 12px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
}

input {
  height: 48px;
}

input::placeholder,
textarea::placeholder {
  color: rgba(197, 197, 197, 0.712);
  font-size: 12px;
}

form {
  padding: 12px;
}

form .required-field-mark {
  color: #ff0000;
}

label {
  font-size: 16px;
  color: #00235A;
  font-weight: 600;
}

main.main-section ,
section {
  height: 120vh;
}

@media (min-width:320px)  {
  /* smartphones, iPhone, portrait 480x320 phones */ 
  input,
  textarea {
    width: 100%;
    margin-bottom: 14px;
  }
  main.main-section{
    display: flex;
    flex-direction: column;
  }

  main.main-section .image-block {
    background-image: url('../assets/images/img16.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    top: 134px;
    height: 380px;
  }
  main.main-section .title-block {
    background-image: url('../assets/images/bg3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 280px;
    position: relative;
    top: 20px;
    padding-left: 15px;
  }

  main.main-section .title-block .subtitle{
    color: #FF6C00;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 30px;
  }
  main.main-section .title-block .title{
    display: flex;
    align-items: center;
  }
  main.main-section .title-block .title .line{
    width: 3px;
    height: 40px;
    background-color: #FF6C00;
    margin-right: 25px;
  }
  main.main-section .title-block .section-title{
    color: #00235A;
    font-size: 38px;
    margin-top: 15px;
  }

  section.contact-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: fit-content;
    padding-bottom: 75px;
  }

  section.contact-form .info {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  section.contact-form .info p {
    line-height: 1.7;
    color: #7a7a7a;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
  }

  section.contact-form .info .contact-list li {
    margin-bottom: 7px;
  }
  section.contact-form .info .contact-list .icon {
    color: #00235A;
  }
  section.contact-form .info .contact-list .icon i{
    font-size: 20px;
  }
  section.contact-form .info .contact-list .description {
    color: #FF6C00;
    font-weight: 600;
    margin-left: 15px;
  }
  section.contact-form .info .contact-list .description:hover {
    color: #00235A;
  }

  section.contact-form form {
    position: relative;
    padding-top: 75px;
    padding-bottom: 70px;
    width: 100%;
    height: fit-content;
  }
  section.contact-form form .form-group{
    margin-top: 10px;
  }
  section.contact-form form label{

    margin-bottom: 4px;
  }
  section.contact-form form textarea {
    height: 150px;
  }
  section.contact-form form button {
    position: absolute;
    right: 20px;
    bottom: 0px;
    width: fit-content;
    padding-left: 23px;
    padding-right: 23px;
  }

  section.map iframe {
    width: 100%;
    height: 100%;
  }

  section.partners {
    background-color: #FF6C00;
    background-image: url('../assets/images/bg2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 225px;
    padding-top: 40px;
  }
  

}

@media (min-width:790px)  {
   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  main.main-section .image-block {
    top: 90px;
  }
}

@media (min-width:1025px) {
   /* big landscape tablets, laptops, and desktops */ 
  main.main-section{
    flex-direction: row;
  }

  main.main-section .image-block {
    width: 60%;
    height: 100%;
  }
  main.main-section .title-block {
    width: 40%;
    height: 100%;
    align-items: flex-start;
    padding-top: -30px;
    padding-left: 50px;
    top: 90px;
  }

  main.main-section .title-block .section-title{
    font-weight: 600;
  }

  main.main-section {
    margin-bottom: 250px;
  }

  section.contact-form {
    flex-direction: row;
  }

  section.contact-form .info {
    padding-right: 60px;
  }
  section.contact-form .info p {
    width: 270px;
  }

  section.contact-form form {
    padding-top: 23px;
    padding-right: 70px;
  }

  section.contact-form form button {
    right: 70px;
  }
}












