main.main-section {
  height: fit-content;
}

section.cards .cards-list .card .link{
  position: relative;
}
section.cards .cards-list .card .link i{
  color: #1D1918;
  font-weight: 600;
  font-size: 34px;
}
section.cards .cards-list .card .link::before{
  position: absolute;
  left: -1px;
  top: -1px;
  content: '';
  border: 2px solid #1D1918;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

section.about-company .btn {
  background-color: #DE5542;
  color: #fff;
}
section.about-company .btn:hover {
  background-color: #1D1918;
}
section.about-company .btn:hover i {
  color: #fff;
}

@media (min-width:320px)  {
  /* smartphones, iPhone, portrait 480x320 phones */ 
  section.about-company {
    background-image: url('../assets/images/bg1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.about-company img {
    width: 100%;
    max-width: 540px;
  }
  section.about-company .text-block {
    padding: 75px 0 0;
  }

  section.about-company .description{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    margin-bottom: 45px;
    max-width: 540px;
  }

  section.free-consultation {
    padding: 0 15px 75px;
    display: flex;
    flex-direction: column;
  }

  section.free-consultation .btn {
    background-color: #DE5542;
  }
  section.free-consultation .btn:hover {
    background-color: #fff;
    color: #DE5542;
  }
  section.free-consultation .btn:hover i {
    color: #DE5542;
  }

  section.free-consultation .block-2{
    background-image: url('../assets/images/img2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
  }
  section.free-consultation .block-1,
  section.free-consultation .block-3 {
    display: none;
  }
  section.free-consultation .text-block{
    padding: 120px 30px;
    background-color: #1D1918;
    height: fit-content;
  }
  section.free-consultation .text-block .title-block{
    margin: 0 0 20px;
  }
  section.free-consultation .text-block .description{
    margin: 0 0 45px;
    font-size: 16px;
    line-height: 1.5;
  }
  section.free-consultation .text-block * {
    color: #fff;
  }
  section.why-us {
    padding: 75px 15px;
    background-color: #f2f2f2;
    background-image: url('../assets/images/bg8.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  section.learn {
    position: relative;
    background-image: url('../assets/images/image-slide1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 15px;
  }
  section.learn *{
    color: #fff;
    font-family: 'Poppins', sans-serif;
  }
  section.learn .bg-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: .5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
  section.learn .container {
    z-index: 10;
    display: flex;
    flex-direction: column;
  }
  section.learn .text-block {
    z-index: 10;
    max-width: 540px;
  }
  section.learn .text-block .title-block{
    padding-bottom: 15px;
  }
  section.learn .text-block .description{
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 25px;
  }
  section.learn .play-video {
    padding: 35px 0 0 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
  }
  section.learn .play-video i{
    font-size: 86px;
  }

  section.learn .play-video i::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: button-ripple 3s infinite;
    opacity: .6;
    z-index: -1;
  }
}

@media (min-width:790px)  {
   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  section.free-consultation .image-block{
    height: 400px;
  }
}

@media (min-width:1025px) {
   /* big landscape tablets, laptops, and desktops */ 
  section.cards {
    padding: 150px 0;
  }
  section.cards .cards-list {
    max-width: 1025px;
  }
  section.cards .cards-list .card {
    width: 275px;
  }
  section.cards .cards-list .card:hover .link i{
    color: #DE5542;
  }
  section.cards .cards-list .card:hover .link::before {
    border-color: #DE5542;
  }

  section.about-company {
    flex-direction: row;
    justify-content: center;
    padding: 150px 0;
  }

  section.about-company img {
    padding-right: 30px;
  }

  section.about-company .text-block {
    padding: 20px 0 0 30px;
  }

  section.free-consultation {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  section.free-consultation .block-1 {
    display: block;
    width: 35%;
    height: 650px;
    background-image: url('../assets/images/bg3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.free-consultation .block-2 {
    height: 650px;
    width: 65%;
  }

  section.free-consultation .block-3{
    display: block;
    background-image: url('../assets/images/bg4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 56%;
    height: 355px;
  }

  section.free-consultation .block-4 {
    display: block;
    width: 44%;
    height: 355px;
    padding-top: 70px;
    padding-right: 20px;
    max-width: 1000px;
    z-index: 5;
  }

  section.free-consultation .text-block{
    position: absolute;
    width: 570px;
    top: 25%;
    left: 12%;
  }

  section.learn{
    padding: 200px 0;
  }
  section.learn .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:1800px)  {
  section.free-consultation .text-block{
    position: absolute;
    width: 570px;
    top: 25%;
    left: 15%;
  }

  section.free-consultation .block-3{
    width: 50%;
  }

  section.free-consultation .block-4 {
    width: 50%;
  }
}
@media (min-width:2700px)  {
  section.free-consultation .text-block{
    position: absolute;
    width: 570px;
    top: 25%;
    left: 20%;
  }

  section.free-consultation .block-3{
    width: 43%;
  }

  section.free-consultation .block-4 {
    width: 57%;
  }
}